//size
$w:100%;
//color:
$c1: #424242;
$c2: #FFBD81;
//fonts
$PO: 'Poiret One';
$OS: 'Open Sans';

// import
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

//mixin
@mixin txt ($color, $line-height, $font-size, $font-weight, $font-family) {
    color: $color;
    line-height: $line-height;
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.header {
    background: url(../img/back.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 809px;
    margin: 0 0 60px 0;
    position: relative;

    &-info {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 20px 0 0 0;
    }

    .logo-img {
        margin: 0 27.5% 0 7%;
    }

    &-nav {
        .list {
            list-style-type: none;
            width: 401px;
            display: flex;
            justify-content: space-between;

            .item {
                .link {
                    @include txt(#fff, 22px, 16px, normal, $OS);
                    text-decoration: none;
                }
            }
        }
    }

    &-content {
        height: 729px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0 0 6.527%;

        .title {
            @include txt(#fff, 70px, 60px, normal, $PO);
            display: block;
            margin: 0 0 20px 0;
        }

        .text {
            @include txt(#fff, 33px, 24px, normal, $OS);
            display: block;
            margin: 0 0 125px 0;
        }

        .btn {
            @include txt(#fff, 33px, 24px, normal, $OS);
            text-decoration: none;
            width: 194px;
            margin: 0 0 0 79px;
            position: relative;

            &::before {
                content: '';
                width: 340px;
                height: 78px;
                border: 2px solid #fff;
                border-radius: 8px;
                position: absolute;
                top: -23px;
                right: -73px;
            }

            &::after {
                content: '';
                width: 340px;
                height: 78px;
                border: 2px solid #fff;
                border-radius: 8px;
                position: absolute;
                top: -13px;
                right: -83px;
            }
        }
    }

    .social {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 229px;
        right: 12.4305%;

        .line {
            height: 90px;
            width: 0.5px;
            background-color: white;

            &:first-child {
                margin: 0 0 30px 0;
            }

            &:last-child {
                margin: 15px 0 0 0;
            }
        }

        &-link {
            @include txt(#fff, 22px, 16px, normal, $OS);
            text-decoration: none;
            margin: 0 0 15px 0;
        }
    }
}

.main {
    .portfolio {
        margin: 0 0 60px 0;

        .title {
            display: block;
            width: $w;
            @include txt($c1, 42px, 32px, normal, $PO);
            text-align: center;
            margin: 0 0 40px 0;
            position: relative;

            &::before,
            &::after {
                content: '';
                width: 44%;
                height: 0px;
                border: 1px solid $c2;
            }

            &::before {
                position: absolute;
                left: 0;
                top: 21px;
            }

            &::after {
                position: absolute;
                right: 0;
                top: 21px;
            }
        }

        .photos {
            width: 1240px;
            margin: 0 auto 56px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            img {
                margin-right: 20px;
                margin-bottom: 20px;
            }

            .photo3 {
                margin-right: 0;
            }

            .photo4,
            .photo5,
            .photo6 {
                margin-bottom: 0;
            }

            .photo6 {
                margin-right: 0;
            }
        }

        .btn {
            @include txt($c1, 33px, 24px, normal, $OS);
            text-decoration: none;
            width: 156px;
            display: block;
            margin: 0 auto;
            position: relative;

            &::before {
                content: '';
                width: 340px;
                height: 78px;
                border: 2px solid $c2;
                border-radius: 8px;
                position: absolute;
                top: -16px;
                right: -92px;
            }

            &::after {
                content: '';
                width: 340px;
                height: 78px;
                border: 2px solid $c2;
                border-radius: 8px;
                position: absolute;
                top: -26px;
                right: -82px;
            }
        }
    }

    .price {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 60px 0;

        .title {
            display: block;
            width: $w;
            @include txt($c1, 42px, 32px, normal, $PO);
            text-align: center;
            margin: 0 0 21px 0;
            position: relative;

            &::before,
            &::after {
                content: '';
                width: 44%;
                height: 0px;
                border: 1px solid $c2;
            }

            &::before {
                position: absolute;
                left: 0;
                top: 21px;
            }

            &::after {
                position: absolute;
                right: 0;
                top: 21px;
            }
        }

        .block {
            width: 290px;
            height: 414px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 46px 55px;
            box-shadow: -4px -4px 25px rgba(247, 247, 247, 0.1), 4px 4px 25px rgba(0, 0, 0, 0.13);
            border-radius: 10px;

            span,
            a,
            .items {
                display: block;
                width: $w;
                text-align: center;
            }

            &-title {
                @include txt(#000, 33px, 24px, normal, $OS);
                margin: 0 0 20px 0;
            }

            .price {
                @include txt($c2, 33px, 24px, normal, $OS);
                margin: 0 0 20px 0;
            }

            .list {
                list-style-type: none;
                width: $w;
                margin: 0 0 97px 0;

                .items {
                    @include txt(#000, 22px, 16px, normal, $OS);
                    margin: 0 0 10px 0;

                }

                .no {
                    margin: 0;
                }

            }

            .btn {
                @include txt($c1, 33px, 24px, normal, $OS);
                text-decoration: none;
                width: 104px;
                display: flex;
                position: relative;

                &::before {
                    content: '';
                    width: 280px;
                    height: 78px;
                    border: 2px solid $c2;
                    border-radius: 8px;
                    position: absolute;
                    top: -17px;
                    right: -98px;
                }

                &::after {
                    content: '';
                    width: 280px;
                    height: 78px;
                    border: 2px solid $c2;
                    border-radius: 8px;
                    position: absolute;
                    top: -27px;
                    right: -88px;
                }
            }
        }

        .between {
            margin: 0 19px;
        }
    }
}