@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
}

.header {
  background: url(../img/back.png) no-repeat center center;
  background-size: cover;
  height: 809px;
  margin: 0 0 60px 0;
  position: relative;
}

.header-info {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 0 0;
}

.header .logo-img {
  margin: 0 27.5% 0 7%;
}

.header-nav .list {
  list-style-type: none;
  width: 401px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav .list .item .link {
  color: #fff;
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.header-content {
  height: 729px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0 0 6.527%;
}

.header-content .title {
  color: #fff;
  line-height: 70px;
  font-size: 60px;
  font-weight: normal;
  font-family: "Poiret One", sans-serif;
  display: block;
  margin: 0 0 20px 0;
}

.header-content .text {
  color: #fff;
  line-height: 33px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  display: block;
  margin: 0 0 125px 0;
}

.header-content .btn {
  color: #fff;
  line-height: 33px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  width: 194px;
  margin: 0 0 0 79px;
  position: relative;
}

.header-content .btn::before {
  content: '';
  width: 340px;
  height: 78px;
  border: 2px solid #fff;
  border-radius: 8px;
  position: absolute;
  top: -23px;
  right: -73px;
}

.header-content .btn::after {
  content: '';
  width: 340px;
  height: 78px;
  border: 2px solid #fff;
  border-radius: 8px;
  position: absolute;
  top: -13px;
  right: -83px;
}

.header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 229px;
  right: 12.4305%;
}

.header .social .line {
  height: 90px;
  width: 0.5px;
  background-color: white;
}

.header .social .line:first-child {
  margin: 0 0 30px 0;
}

.header .social .line:last-child {
  margin: 15px 0 0 0;
}

.header .social-link {
  color: #fff;
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin: 0 0 15px 0;
}

.main .portfolio {
  margin: 0 0 60px 0;
}

.main .portfolio .title {
  display: block;
  width: 100%;
  color: #424242;
  line-height: 42px;
  font-size: 32px;
  font-weight: normal;
  font-family: "Poiret One", sans-serif;
  text-align: center;
  margin: 0 0 40px 0;
  position: relative;
}

.main .portfolio .title::before, .main .portfolio .title::after {
  content: '';
  width: 44%;
  height: 0px;
  border: 1px solid #FFBD81;
}

.main .portfolio .title::before {
  position: absolute;
  left: 0;
  top: 21px;
}

.main .portfolio .title::after {
  position: absolute;
  right: 0;
  top: 21px;
}

.main .portfolio .photos {
  width: 1240px;
  margin: 0 auto 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .portfolio .photos img {
  margin-right: 20px;
  margin-bottom: 20px;
}

.main .portfolio .photos .photo3 {
  margin-right: 0;
}

.main .portfolio .photos .photo4,
.main .portfolio .photos .photo5,
.main .portfolio .photos .photo6 {
  margin-bottom: 0;
}

.main .portfolio .photos .photo6 {
  margin-right: 0;
}

.main .portfolio .btn {
  color: #424242;
  line-height: 33px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  width: 156px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.main .portfolio .btn::before {
  content: '';
  width: 340px;
  height: 78px;
  border: 2px solid #FFBD81;
  border-radius: 8px;
  position: absolute;
  top: -16px;
  right: -92px;
}

.main .portfolio .btn::after {
  content: '';
  width: 340px;
  height: 78px;
  border: 2px solid #FFBD81;
  border-radius: 8px;
  position: absolute;
  top: -26px;
  right: -82px;
}

.main .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 60px 0;
}

.main .price .title {
  display: block;
  width: 100%;
  color: #424242;
  line-height: 42px;
  font-size: 32px;
  font-weight: normal;
  font-family: "Poiret One", sans-serif;
  text-align: center;
  margin: 0 0 21px 0;
  position: relative;
}

.main .price .title::before, .main .price .title::after {
  content: '';
  width: 44%;
  height: 0px;
  border: 1px solid #FFBD81;
}

.main .price .title::before {
  position: absolute;
  left: 0;
  top: 21px;
}

.main .price .title::after {
  position: absolute;
  right: 0;
  top: 21px;
}

.main .price .block {
  width: 290px;
  height: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 46px 55px;
  -webkit-box-shadow: -4px -4px 25px rgba(247, 247, 247, 0.1), 4px 4px 25px rgba(0, 0, 0, 0.13);
          box-shadow: -4px -4px 25px rgba(247, 247, 247, 0.1), 4px 4px 25px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}

.main .price .block span,
.main .price .block a,
.main .price .block .items {
  display: block;
  width: 100%;
  text-align: center;
}

.main .price .block-title {
  color: #000;
  line-height: 33px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 20px 0;
}

.main .price .block .price {
  color: #FFBD81;
  line-height: 33px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 20px 0;
}

.main .price .block .list {
  list-style-type: none;
  width: 100%;
  margin: 0 0 97px 0;
}

.main .price .block .list .items {
  color: #000;
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 10px 0;
}

.main .price .block .list .no {
  margin: 0;
}

.main .price .block .btn {
  color: #424242;
  line-height: 33px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .price .block .btn::before {
  content: '';
  width: 280px;
  height: 78px;
  border: 2px solid #FFBD81;
  border-radius: 8px;
  position: absolute;
  top: -17px;
  right: -98px;
}

.main .price .block .btn::after {
  content: '';
  width: 280px;
  height: 78px;
  border: 2px solid #FFBD81;
  border-radius: 8px;
  position: absolute;
  top: -27px;
  right: -88px;
}

.main .price .between {
  margin: 0 19px;
}

.main .about-me .title {
  display: block;
  width: 100%;
  color: #424242;
  line-height: 42px;
  font-size: 32px;
  font-weight: normal;
  font-family: "Poiret One", sans-serif;
  text-align: center;
  margin: 0 0 40px 0;
  position: relative;
}

.main .about-me .title::before, .main .about-me .title::after {
  content: '';
  width: 44%;
  height: 0px;
  border: 1px solid #FFBD81;
}

.main .about-me .title::before {
  position: absolute;
  left: 0;
  top: 21px;
}

.main .about-me .title::after {
  position: absolute;
  right: 0;
  top: 21px;
}

.main .about-me .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 100px 0;
}

.main .about-me .content-text {
  width: 560px;
  color: #000;
  line-height: 157.19%;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin: 0 25px 0 0;
}

.main .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 60px 0;
}

.main .contacts span,
.main .contacts a {
  color: #424242;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

.main .contacts .title {
  display: block;
  width: 100%;
  color: #424242;
  line-height: 42px;
  font-size: 32px;
  font-weight: normal;
  font-family: "Poiret One", sans-serif;
  text-align: center;
  margin: 0 0 40px 0;
  position: relative;
}

.main .contacts .title::before, .main .contacts .title::after {
  content: '';
  width: 44%;
  height: 0px;
  border: 1px solid #FFBD81;
}

.main .contacts .title::before {
  position: absolute;
  left: 0;
  top: 21px;
}

.main .contacts .title::after {
  position: absolute;
  right: 0;
  top: 21px;
}

.main .contacts .left .block-contact {
  -webkit-box-shadow: -10px -10px 25px rgba(244, 244, 244, 0.15), 5px 5px 30px rgba(0, 0, 0, 0.15);
          box-shadow: -10px -10px 25px rgba(244, 244, 244, 0.15), 5px 5px 30px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 45px 126px;
  width: 253px;
  height: 90px;
}

.main .contacts .left .block-contact a {
  text-decoration: none;
}

.main .contacts .left .block-contact .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

.main .contacts .left .block-contact .tel::before {
  content: url(../img/tel-logo.svg);
  margin: 0 32px 0 0;
}

.main .contacts .left .block-contact .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .contacts .left .block-contact .email::before {
  content: url(../img/email-logo.svg);
  margin: 0 32px 0 0;
}

.main .contacts .left .block-social {
  width: 209px;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: -10px -10px 25px rgba(244, 244, 244, 0.15), 5px 5px 30px rgba(0, 0, 0, 0.15);
          box-shadow: -10px -10px 25px rgba(244, 244, 244, 0.15), 5px 5px 30px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 45px 148px;
  margin: 41px 0;
}

.main .contacts .left .block-social .text {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 0 20px 0;
}

.main .contacts .left .block-geo {
  width: 299px;
  min-height: 96px;
  -webkit-box-shadow: -10px -10px 25px rgba(244, 244, 244, 0.15), 5px 5px 30px rgba(0, 0, 0, 0.15);
          box-shadow: -10px -10px 25px rgba(244, 244, 244, 0.15), 5px 5px 30px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 42px 103px;
}

.main .contacts .left .block-geo .city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .contacts .left .block-geo .city::before {
  content: url(../img/geo-logo.svg);
  margin: 0 15px 0 0;
}

.main .contacts .left .block-geo .time {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .contacts .left .block-geo .time::before {
  content: url(../img/clock-logo.svg);
  margin: 0 14px 0 0;
}

.main .contacts-form {
  padding: 40px 78px 75px;
  margin: 0 49px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -10px -10px 25px rgba(244, 244, 244, 0.15), 5px 5px 30px rgba(0, 0, 0, 0.15);
          box-shadow: -10px -10px 25px rgba(244, 244, 244, 0.15), 5px 5px 30px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.main .contacts-form label {
  color: #424242;
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 11px 0;
}

.main .contacts-form input,
.main .contacts-form textarea {
  border: none;
  border-bottom: 2px solid #424242;
}

.main .contacts-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .contacts-form .name,
.main .contacts-form .tel,
.main .contacts-form .email {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main .contacts-form .tel {
  margin: 40px 0;
}

.main .contacts-form .email {
  margin: 0 0 40px 0;
}

.main .contacts-form .mess {
  margin: 0 0 89px 0;
}

.main .contacts-form .btn {
  color: #424242;
  line-height: 33px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .contacts-form .btn::before {
  content: '';
  width: 280px;
  height: 78px;
  border: 2px solid #FFBD81;
  border-radius: 8px;
  position: absolute;
  top: -17px;
  right: -98px;
}

.main .contacts-form .btn::after {
  content: '';
  width: 280px;
  height: 78px;
  border: 2px solid #FFBD81;
  border-radius: 8px;
  position: absolute;
  top: -27px;
  right: -88px;
}

.main .contacts .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .contacts .social .line1,
.main .contacts .social .line2 {
  height: 90px;
  width: 0.5px;
  background-color: #FFBD81;
}

.main .contacts .social .line1 {
  margin: 0 0 30px 0;
}

.main .contacts .social .line2 {
  margin: 30px 0 0 0;
}

.main .contacts .social-link {
  color: #424242;
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin: 0 0 15px 0;
}

.main .contacts .social .mb {
  margin: 0;
}

.footer {
  background-color: #FFBD81;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .text {
  color: #424242;
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=index.css.map */